<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="card product-card">
        <div class="card-body">
          <div class="card-title product-name">{{getProductById().libele}}</div>
          <a  routerLink="details/{{getProductById().id}}">
            <img class="card-img-top" src = "{{getProductById().imageUrl}}"/>
          </a>
          <div class="card-text product-price">Prix: {{getProductById().prix}}dhs</div>

          <div *ngIf = "getProductById().isDisponible; else elseBlock" >
            <span [ngStyle]="{color: getProductById().getColor()}" class="text-success">{{getProductById().isEnStock()}}</span><br>
            <button class="btn btn-primary" (click)="clickedProduct(getProductById())">
              Ajouter au panier
            </button>
          </div>
          <ng-template #elseBlock>
            <span [ngStyle]="{color: getProductById().getColor()}" class="text-danger">{{getProductById().isEnStock()}}</span>
          </ng-template>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card product-card">
        <!-- product-card content goes here -->
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card product-card">
        <!-- product-card content goes here -->
      </div>
    </div>
  </div>
</div>
