<div>
<form>
  <label for="category-select">Filter by Category:</label>
  <select [(ngModel)]="selectedValue" name="something" id="category-select" (change)="filterProducts(selectedValue)">
      <option *ngFor="let option of options" [value]="option.value" [selected]="options[1].label">{{ option.label }}</option>
    </select>
</form>
</div>
<div class="listp" id="intro">
  <app-product-item *ngFor="let p of filteredProducts " [p] = "p"
                    (productSelected) = "addToPanier(p)">
  </app-product-item>
  <!--<app-product-item *ngFor="let p of products3 |async " [p] = "p"
                    (productSelected) = "addToPanier(p)">
  </app-product-item>-->
</div>
<p></p>
<!--<div *ngFor="let p of products3 | async">BONJOUR{{p.libele}}</div>-->



