<p>list product works!</p>
<div class="listp" id="intro">
  <!--<h1 class="first">
    this is a <em>test</em>
  </h1>-->
  <style>
    app-product-item {
      color: darkblue;
      background-color : white;
      border-block: solid;
      border-right: solid;
      border-left: solid;
      border-left-width: thin;
      border-right-width: thin;
      border-color: darkgrey;
    }
  </style>

  <app-product-item *ngFor="let p of products" [p] = "p"
                       (productSelected) = "addToPanier(p)">
  </app-product-item>


  <!--<app-product-item *ngFor="let p of products3|async" [p] = "p"
                    (productSelected) = "addToPanier(p)">
  </app-product-item>-->
  <!--<p class="cursive">
    this is a paragraph shown in cursive font.
  </p>-->
</div>



